.slds-button_home {
    --sds-c-button-outline-brand-color-background-hover: grey;
    }

.slds-button_company {
        --sds-c-button-outline-brand-color-background-hover: grey;
    
    }

    .slds-button_aboutus {
        --sds-c-button-outline-brand-color-background-hover: grey;
    
    }